<label>Server Name</label>
  <!-- One Way binding -->
  <!-- <input type="text"
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"><br> -->

  <!-- Two Way binding -->
  <input type="text"
  type="text"
  class="form-control"
  [(ngModel)]="serverName"><br>

  <!-- <p>{{ serverName }}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button><br>
<!-- {{ serverCreationStatus }} -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<!-- String interpolation -->
  <!-- <p [innerText]="allowNewServer"></p>

  <p>{{ allowNewServer }}</p> -->
<!-- String interpolation -->

  <!-- App Server -->
<app-server></app-server>

