<label>Server Name</label>
<br />
<!-- <input
  text="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
/> -->

<!-- 2 way binding USING ngModel-->
<input
  text="text"
  class="form-control"
  [(ngModel)]="ServerName"
/>

<!-- <p>{{ServerName}}</p> -->
<br>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  >Add Server
</button>

<!-- <p>{{serverCreationStatus}}</p> -->

<!-- Dont mix property binding and string interpolation -->
  <!-- {{allowNewServer}}
  <p [innerText]="allowNewServer"></p>  -->

<!-- -----------------------------------------------------NG IF -->
<p *ngIf="ServerCreated" >Server was created, server name is {{ServerName}}</p>

<!-- ---------------------OPTIONAL --------------------->
<!-- <p *ngIf="ServerCreated; else noServer" >Server was created, server name is {{ServerName}}</p>
<ng-template #noServer>
  <p>
    No Server was created!!
  </p>
</ng-template> -->
<!-- -----------------------------------------------------NG IF -->


<app-server></app-server>
